* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 900px) {
  .column, .img, .box .container .div .section {
    width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, .img, .box .container .div .section {
    width: 100%;
  }
}

/*
:root {
  --primary-color: rgba(13, 110, 139, 0.75) --overlay-color: rgba(24, 39, 50, 0.85) --menu-speed: 0.75s
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 3rem;
}

.showcase {
  background-color: blue;
  color: #fff;
}
 */

html,body{
  font-family: 'segoe UI',;
  line-height: 1.5cm;
}
a {
  color: #333;
  text-decoration: nine;
}
h1, h2, h3{
  padding-bottom: 20px;
}
p{
  margin: 10px 0;
}

.container{
  margin: auto;
  max-width: 1200px;
  overflow: auto;
  padding: 0 2px;
}

.text-primary {
  color: skyblue;
  font-size: 50px;
}

.btn {
  display: inline-block;
  font-size: 20px;
  color: white;
  background: #4CAF50;
  padding: 15px 0px;
  border: none;
  margin: 40%;
  border-radius: 70%;
  font-size: 23px;
  cursor: pointer;
  margin-top: 25rem;
  text-decoration: none;
  transition: opacity 1s ease-in;

  
  }

.btn:hover{
  background:#f7c08a;
  color: #333;
  opacity: 0.7;
}
.clr {
  clear: both;
}

.l-heading{
  font-size: 50px;
}


#showcase {
  background: url('image.jpeg') no-repeat center center/cover; 
  height: 950px;
}
#showcase .showcase-content{
  color: #fff;
  text-align: center;
  padding-top: 170px;
  
}
#showcase .showcase-content h1{
  font-size: 60px;
  line-height: 1.2em;
}
#about-info .info-right{
  float: right;
  width: 50%;
  min-height: 100%;
}
#about-info .info-right img{
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}
#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}
#contact-form .form-group {
  margin-bottom: 20px
}
#contact-form label {
  display: block;
  margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}
#contact-form textarea {
  height: 200px
}
#contact-form input:focus
#contact-form textarea:focus{
  outline: none;
  border-color: #f7c08a
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 15%;
 /* width: 5px;
  padding: 100px;
  */
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 15%;
 /* width: 5px;
  padding: 100px;
  */
}
.fa-instagram {
  background: brown;
  color: white;
  border-radius: 15%;
 /* width: 5px;
  padding: 100px;
  */
}
.fa-linkedin {
  background: #3B5998;
  color: white;
  border-radius: 15%;
}
#main-footer {
  text-align: center;
  background: #444;
  color: lemonchiffon;
  padding: 20px;
}
.box {
  float: left;
  display: inline-block;
  width: 33.3%;
  padding: 50px;
  text-align: center;
  background: skyblue;
  transition: all 2s ease-in-out
  
}
.box:hover{
  background: red;
  border-radius: 50%;
  height:300px;
  width:300px;
}

.bg-primary {
  color: white;
}
.box i {
  margin-bottom: 10px;
}
